.text-div
{
    display:block;
    align-items: center;
    margin-left: 20px;
}

.check-div
{
    display:block;
    align-items: center;
    margin-left: 20px;
}

.checkOptionDiv{
  font-size: 16px;
  margin-left: 4px;
}