<mat-card style="width: 500px;">
    <mat-label style="font-size: larger; font-weight: bold; padding: 8px;">Add Question</mat-label>
    <mat-form-field style="padding: 6px;">
        <mat-label>Select Type</mat-label>
        <mat-select [(ngModel)]="questionType">
            <mat-option value="textarea">Text-Area</mat-option>
            <mat-option value="checkbox">Check-Box</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="questionType === 'textarea'" class="text-div">
        <strong>Progress</strong>
        <mat-progress-bar mode='buffer' value="30"></mat-progress-bar><br>
        <input type="text" class="form-control" placeholder="Write your Question here" [(ngModel)]="this.text"
            name="textQuestion" #textQuestion="ngModel" required><br>
        <span *ngIf="textQuestion.invalid && textQuestion.touched" style="color: red;">Please Enter Question<br></span>
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="isrequired">
            This field is required
        </label>
        <br><br>
        <button type="submit" class="btn btn-warning" [disabled]="textQuestion.invalid"
            (click)="onSubmit(text)">Submit</button>
        <br>
    </div>

    <div *ngIf="questionType === 'checkbox'" class="check-div">
        <strong>Progress</strong>
        <mat-progress-bar mode='buffer' value="30"></mat-progress-bar><br>
        <input type="text" class="form-control" placeholder="Write your Question here"
            [(ngModel)]="this.checkQ.Question" #checkQuestion="ngModel" required>
        <span *ngIf="checkQuestion.invalid && checkQuestion.touched" style="color: red;">Please Enter
            Question<br></span>
        <br>
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="fourth">
            <strong> Allow User to Specify their own answer</strong>
        </label>
        <br><br>
        <h2><strong>Add Answers Here</strong></h2>
        <div>
            <mat-form-field class="checkOptionDiv" appearance="outline">
                <mat-label>Option 1</mat-label>
                <input matInput type="text" [(ngModel)]='this.checkQ.Option1' #op1="ngModel" required>
            </mat-form-field>
            <mat-form-field class="checkOptionDiv" appearance="outline">
                <mat-label>Option 2</mat-label>
                <input matInput type="text" [(ngModel)]="this.checkQ.Option2" #op2="ngModel" required>
            </mat-form-field>
            <mat-form-field class="checkOptionDiv" appearance="outline">
                <mat-label>Option 3</mat-label>
                <input matInput type="text" [(ngModel)]="this.checkQ.Option3">
            </mat-form-field>
            <mat-form-field class="checkOptionDiv" appearance="outline">
                <mat-label>Option 4</mat-label>
                <input matInput type="text" [(ngModel)]="this.checkQ.Option4">
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-warning" [disabled]="checkQuestion.invalid||op1.invalid||op2.invalid"
            (click)="onCheckSubmit(this.checkQ.Question)">Submit</button>
        <br><br>
    </div>
</mat-card>