<div class="container">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md" style="margin-top: 80px;">
            <mat-card>
                <div style="width: 400px; margin-left: 10px;">
                    <mat-label style="font-size: large; font-weight: bold; margin-left: 70px;">Answer Following
                        Questions</mat-label>
                    <br>
                    <cdk-virtual-scroll-viewport itemSize="20" style="height: 400px;">
                        <strong>Progress</strong>
                        <mat-progress-bar mode='buffer' value="50"></mat-progress-bar><br>
                        <div *cdkVirtualFor="let quest of viewQuestions; let i=index">
                            <div *ngIf="quest.type === 'textarea'">
                                <strong *ngIf="this.quest.validations === true ; else com "
                                    style="font-size:large; color: red;">{{quest.Question}}*</strong><br>
                                <ng-template #com>
                                    <strong style="font-size:large;">{{quest.Question}}</strong><br>
                                </ng-template>
                                <textarea style="width: 95%; font-size:large;" [(ngModel)]="this.answerText[i]"
                                    #tA="ngModel" required></textarea>
                                <button [disabled]="tA.invalid && tA.untouched" class="btn btn-warning" (click)="onSubmitTextAnswer()">Submit
                                    Answer</button>
                            </div>
                            <div *ngIf="quest.type === 'checkbox' && quest.Option5 === false ">
                                <strong>{{quest.Question}}*</strong><br>
                                <strong><mat-checkbox *ngIf="this.quest.Option1 != '' "
                                        [(ngModel)]="this.answerOption.Option1">{{quest.Option1}}</mat-checkbox></strong><br>

                                <strong><mat-checkbox *ngIf="this.quest.Option2 != '' "
                                        [(ngModel)]="this.answerOption.Option2">{{quest.Option2}}</mat-checkbox></strong><br>

                                <strong><mat-checkbox *ngIf="this.quest.Option3 != '' "
                                        [(ngModel)]="this.answerOption.Option3">{{quest.Option3}}</mat-checkbox></strong><br>

                                <strong><mat-checkbox *ngIf="this.quest.Option4 != '' "
                                        [(ngModel)]="this.answerOption.Option4">{{quest.Option4}}</mat-checkbox></strong><br>

                                <button class="btn btn-warning" (click)="onSubmitcheckAnswer()">Submit Answer</button>
                            </div>
                            <div *ngIf="quest.type === 'checkbox' && quest.Option5 === true">
                                <strong style="font-size:large;">{{quest.Question}}*</strong><br>
                                <strong><mat-checkbox *ngIf="this.quest.Option1 != '' "
                                        [(ngModel)]="this.answerOption.Option1">{{quest.Option1}}</mat-checkbox><br></strong>

                                <strong><mat-checkbox *ngIf="this.quest.Option2 != '' "
                                        [(ngModel)]="this.answerOption.Option2">{{quest.Option2}}</mat-checkbox><br></strong>

                                <strong><mat-checkbox *ngIf="this.quest.Option3 != '' "
                                        [(ngModel)]="this.answerOption.Option3">{{quest.Option3}}</mat-checkbox><br></strong>

                                <strong><mat-checkbox *ngIf="this.quest.Option4 != '' "
                                        [(ngModel)]="this.answerOption.Option4">{{quest.Option4}}</mat-checkbox><br></strong>

                                <strong><mat-checkbox [(ngModel)]="nature">Other</mat-checkbox><br></strong>
                                <textarea *ngIf="nature === true"
                                    [(ngModel)]="this.answerOption.Option5"></textarea><br>
                                <button class="btn btn-warning" (click)="onSubmitcheckAnswer()">Submit Answer</button>
                            </div>
                        </div>
                    </cdk-virtual-scroll-viewport>
                    <a [routerLink]="''" style="margin:10px;">+ Add New Question</a><br><br>
                    <button class="btn btn-warning" (click)="answerPage()" style="float: right; margin: 10px;">Review My
                        Answers ></button>
                </div>
            </mat-card>
        </div>
        <div class="col-md"></div>
    </div>
</div>